header, footer {
	color: white;
	font-family: cursive;
	font-size: 150%;
}

body {
	background-color: #ABAFF2;
}

p {
	font-family: "Times New Roman", Times, serif;
}

figure {
	color: white;
	font-family: sans-serif;
}

figcaption {
	color: inherit;
	font-family: inherit;
}

#thevisualart {
	font-size: 200%;
}

p.vid {
	color: white;
}

a:hover {
	color: #FF00FF;
}

section div p {
	font-size: 200%;
	color: White;
	width: 300px;
	border: 25px solid white;
	padding: 25px;
	margin: 25px;
}

nav {
	font-family: sans-serif;
	color: #1821B4;
}
